html
  head
    title='Pluralsight Rocks'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Pluralsighters!!!
        p Click the button below to head over to my podcast...
        p 
          a.btn.btn-primary(href="http://intechwetrustpodcast.com") Podcast
        p